@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-1: #f0f2f5;
    --primary-2-blue: #0866ff;
    --secondary-1: #ffffff;
    --secondary-2: #ccd0d5;
    --blue-2: #297bff;
    --red-1: #ea2222;
    --red-2: #eb5353;
    --gray-1: #adb0b3;
    --gray-2: #4c4d4f;
    --skeleton: #e4e6eb;

    --background-1: var(--primary-1);
    --warning-color: var(--red-1);
    --hover-1: var(--secondary-2);
    --hover-2: var(--primary-1);
    --hover-blue: var(--blue-2);
    --hover-warning: var(--red-2);
    --hover-secondary: var(--gray-1);
    --hover-secondary-dark: var(--gray-2);
    --dark-hover-1: var(--dark-secondary-2);
    --dark-hover-2: var(--dark-secondary-1);

    // Dark
    --dark-primary-1: #18191a;

    --dark-secondary-1: #242526;
    --dark-secondary-2: #3a3b3c;

    --dark-background-1: var(--dark-primary-1);

    // Text
    --primary-text-1: #e4e6eb;
    --secondary-text-1: #9d9d9d;

    // Variant
    --warning: var(--warning-color);

    // Posistion
    --content-top: 4.5rem;

    // Width
    --container-width: 1150px;
    // Navbar height
    --navbar-height: 56px;

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
}

.dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 14.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
}
