@use 'reset.scss';
@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';
@use 'variables';
@use 'ui.scss';

@layer base {
    body {
        @apply bg-background-1 dark:bg-dark-background-1;
    }

    nav {
        @apply bg-secondary-1 dark:bg-dark-secondary-1;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

input::placeholder {
    color: var(--secondary-text-1);
}

.bg-blue-gradient {
    background: url('../../../public/assets/img/blue-background-gradient.jpg');
    background-size: cover;
    background-position: center;
}

.bg-glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.public-DraftEditorPlaceholder-root {
    position: absolute;
    color: gray;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-delay {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    20% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-delay-2 {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    40% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-delay-3 {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    60% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 0.8s ease-out forwards;
}

.animate-fade-in-delay {
    animation: fade-in-delay 1.2s ease-out forwards;
}

.animate-fade-in-delay-2 {
    animation: fade-in-delay-2 1.6s ease-out forwards;
}

.animate-fade-in-delay-3 {
    animation: fade-in-delay-3 2s ease-out forwards;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}

// Tiptap styles
.hashtag {
    color: #3b82f6; /* tailwind text-blue-500 */
    font-weight: 500;
    cursor: pointer;
}

.hashtag:hover {
    text-decoration: underline;
}
